<mat-card *ngIf="orderLinesForWaiter && orderLinesForWaiter.length > 0" class="table-responsive">
    <table class="table table-striped table-hover text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Официант</th>
                <th scope="col">Стол</th>
                <th scope="col">Заказ</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Статус заказа</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let orderLine of orderLinesForWaiter">
                <td>{{orderLine.fullNameWaiter}}</td>
                <td>{{orderLine.numberTable}}</td>
                <td>{{orderLine.nameDish}}</td>
                <td>{{orderLine.priceDish}}</td>
                <td>{{orderLine.countPortions}}</td>
                <td>{{orderLine.countPortions * orderLine.priceDish}}</td>
                <td>{{orderLine.nameStatus}}</td>
                <td>
                    <button type="button" class="btn btn-primary" 
                        *ngIf="orderLine.nameStatus == 'Заказ готов'"
                        (click)="takeOrder(orderLine)">Принять
                    </button>
                    <button type="button" class="btn btn-success" 
                        *ngIf="orderLine.nameStatus == 'Подача заказа'"
                        (click)="takeOrder(orderLine)">Подтвердить
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>  